<header class="site-header">
	<nav class="site-nav">
		<ul >
			<a id="homeicon" href="{{ site.baseurl }}/"></a>
			{% for page in site.pages %}
			{% if page.title and page.hide != true %}
			<li>
				<a class="page-link" data-target="{{ page.target}}" href="{{ page.url | prepend: site.baseurl }}"
				class="animsition-link"
				data-animsition-out-class="fade-out-right"
				data-animsition-out-duration="2000"
				>
					{{ page.title }}
				</a>
			</li>
			{% endif %}
			{% endfor %}
			
		</ul>
	</nav>
</header>
